/*=================================clear default css starts here=======================================================*/

*{margin: 0px; padding: 0px; border: 0px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
body { font: 1em/1.25 }

small { font-size:.85em; }
big { font-size:1.2em; }
a, a:link, a:visited, a:active, a:hover { text-decoration:none; }
form { display: inline; }
.clear { clear: both; } 
.floatLeft { float: left; } 
.floatRight { float: right; } 
.textLeft { text-align: left; } 
.textRight { text-align: right; } 
.textCenter { text-align: center; } 
.textJustify { text-align: justify; } 
.blockCenter { display: block; margin-left: auto; margin-right: auto; } 
.bold { font-weight: bold; } 
.italic { font-style: italic; } 
.underline { text-decoration: underline; } 
.noindent { margin-left: 0; padding-left: 0; } 
.nomargin { margin: 0; } 
.nopadding { padding: 0; } 
.nobullet { list-style: none; list-style-image: none; }
h1 { font-size: 2em; } h2 { font-size: 1.5em; } h3 { font-size: 1.2em ; } h4 { font-size: 1.0em; } h5 { font-size: 0.9em; } h6 { font-size: 0.8em; }
/*=================================clear default css ends here=======================================================*/

/*=================================global css starts here=======================================================*/

html{min-width:1080px;background-color:#fff;}
select{
	border-radius:10px;
	background-color: #f9f9f9;
}

.required{
	font-size:10px;
	color:#F00;
}

.recommended{
	font-size:10px;
	color:#06C;
}



/*=================================global css ends here=======================================================*/


/*=================================main menu css starts here=======================================================*/
#container{
	width:100%;
	min-width:1080px;
	height:auto;
	margin:0 auto;
	background-color:#FFF;
}

img.logo {
	position:absolute;
	left:40px;
	height:220px;
	float:left;
	display:inline;
}

div.blackBar{
	height:100px;
	width:100%;
	background-image:url(images/mainMenu/blackbg.png);
}


div.goldBar{
	height:40px;
	width:100%;
	background-image:url(images/mainMenu/goldbg.png);
}

nav#mainNav{
	padding-left:400px;
}

#mainNav ul li{
	padding:0 30px;
	font-size: 100%;
	font-family: "Gill Sans";
	color: rgb(0, 0, 0);
	line-height: 2.2;
	text-align: justifyCenter;
}

#mainNav ul li:hover{
	background-image:url(images/mainMenu/over.png);
	height:40px;
	width:15%;
	padding:auto;
	cursor:pointer;
}

#mainNav li{
	display:inline-block;
	padding:auto;
	height:40px;
	width:15%;
	display:inline-block;
	margin:0 30px;
	
}
#cartLogin{
	position:absolute;
	right:0;
	width:180px;
	height:100px;
	margin-left:150px;
}

#cartLogin img{
	width:40px;
	height:40px;
	float:left;
	margin:0px 10px;
}

#cartLogin p, p a{
	font-size:0.9em;
	line-height:1.4em;
	color:#FFF;
}

#cartLogin>p a{
	padding-left:60px;
	line-height:3em;
}
/*=================================main menu css ends here=======================================================*/



/*=================================main body css starts here=======================================================*/
#mainBody{
	height:auto;
	min-height:800px;
	width:98%;
	min-width:1080px;
	text-align: justify;
	margin:90px 20px 30px 20px;
}
/*=================================main body css ends here=======================================================*/




/*=================================search results table css starts here===========================================*/


table#searchResult {
	border-collapse: collapse;
	width: 100%;
}

@-webkit-keyframes opacity{
	0% { opacity:0; }
	100% { opacity:1.0; }
}

@-moz-keyframes opacity{
	0% { opacity:0; }
	100% { opacity:1.0; }
}

@-o-keyframes opacity{
	0% { opacity:0; }
	100% { opacity:1.0; }
}

@-ms-keyframes opacity{
	0% { opacity:0; }
	100% { opacity:1.0; }
}

@keyframes opacity{
	0% { opacity:0; }
	100% { opacity:1.0; }
}

#searchResult tr{
	background-color: #FFF;
	margin: 10px 20px 10px 5px;
	
	box-shadow: 10px 10px 10px #888888;
	-webkit-animation:opacity 1s;
	-moz-animation:opacity 1s;
	-o-animation:opacity 1s;
	-ms-animation:opacity 1s;
	animation:opacity 1s;
}

table#searchResult p{
	margin:10px 0;
}


#searchResult tr:nth-child(odd){
	background-color: #F1F1F1;
}
#searchResult td{
	padding:10px 15px;
}

#searchResult select[name=type]{
	margin: 0 0 5px;
	min-width: 120px;
	height: 20px;
}




/*=================================search results button css starts here============================================*/

.button-cart {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius:30px;
    font-size: 14px;
    margin: auto;
	width:120px;
    cursor: pointer;
}

#ous{
	padding:0 30px;
	color:#F00;
	font-size:11px;
	
	
	vertical-align:central;
}

.button-cart:hover{
	background-color: #0C0;
}
/*=================================Book Details=================================*/
#book_details{
margin-left:5%;
margin-right:5%;
position:absolute;
display:block;
}
#coverimage{
float:left;
display:block;
margin-right:50px;
}
#isbn{
margin-top:10px;
}
#productdetail{
display:block;
position:relative;
overflow:auto;
width:65%;
}

#title{
font-weight:bold;
font-size:20px;
}

#author{
font-size:15px;
}

#publisher{
padding-top:20px;
}

#description{
font-size:14px;
padding-top:20px;
}

#book_details_row2{
padding-top:80px;
display:block;
width:100%;
clear:both;
}

#searchResult td.rightMenu{
	padding:30px;
}

.qty{
	background-color:#EDEDED;
	width:30px;
	height: 30px;
	text-align:center;
	font-size:15px;
	color:#000;
}

input[name=add], input[name=sub]{
	/*background-color:#EDEDED;*/
	font-size:12px;
	width:20px;
	height:25px;
	
}

input[name=add]{
	margin:0 0px 0 5px;
}

 input[name=sub]{
	margin:0 5px 0 0;
}

.booktype_col1{
float:left;
padding:5px;
}
.price{
text-align:center;
padding:5px;
width:40%;
float:right;
margin-top:5px;
}
.submit-form-qty{
clear:both;
margin-top:10px;
padding:5px;
}
.booktype{
float:left;
width:280px;
margin:10px;
padding-bottom:10px;
border-style:solid;
border-width:0px;
background-color:#ebebeb;
padding-left:10px;
}
.book-quantity{
float:left;
width:40%;
}
.book-quantity input{
width:30%;
border:1px solid;
border-radius:5px;
height:20px;
text-align:center;
   }
#add-to-cart{
float:right;
width:40%;
height:25px;
border-radius:5px;
background-color:#62af65;
color:white;
cursor:pointer;
font-size:18px;
font-family: "Times New Roman", Times, serif;
}

.description{
	line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
	
}

/*=================================Book Details ends here=================================*/


/*=================================Search bar starts here=================================*/
input[name=searchText]{
	margin:10px;
	margin-bottom:20px;
	height:30px;
	border-radius:10px;
	font-size:25px;
	padding:5px 20px;
	width:83%;
	border:#000 solid 1px;
	box-shadow:3px 3px 10px #888888;
	autocomplete:off;
}

input[name=searchText]:focus{
	background-color:#EFEFEF;
}

input[name=searchButton]{
	background-color:#9C9;
	margin:10px;
	margin-bottom:20px;
	height:30px;
	border-radius:10px;
	padding:5px;
	border:#000 solid 1px;
	box-shadow:3px 3px 10px  #888888;
	width:10%;
}

select[name=searchBy]{
	width:10%;
	height:35px;
}

/*=================================Search bar ends here=================================*/


/*=================================checkout form css starts here=======================================================*/

#tableForm {
	border-collapse:collapse;
	width: 98%;	
}

#tableForm td, #tableForm th {
	padding: 5px;
}

#tableTotal {
	border-collapse:collapse;
	width: 98%;	
	background-color: #f2f2f2;
}

#tableTotal td, #tableTotal th {
	padding: 10px;
}

#tableTotal th {
	text-align: left;
}

input.formMed{
	width: 80%;
	height: 30px;
	padding: 5px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f2f2f2;
	font-size:14px;
}

input[name= formXSmall] {
	width: 25%;
	height: 30px;
	padding: 5px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f2f2f2;
	font-size:14px;
}

input.formSmall {
	width: 50%;
	height: 30px;
	padding: 5px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f2f2f2;
	font-size:14px;
}

input[name=formMed] {
	width: 80%;
	height: 30px;
	padding: 5px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f2f2f2;
	font-size:14px;
}

input.formLrg {
	width: 90%;
	height: 30px;
	padding: 5px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f2f2f2;
	font-size:14px;
}

/*=================================checkout button css starts here=======================================================*/

input#blueButton {
	background: #007A95; 
	color: #ffffff;
	padding: 5px 10px 5px; 
	border:none; 
	cursor:pointer; 
	font-size: 14px;
	letter-spacing:.1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
input#blueButton:hover {
	background:#3093a9;
}

input#goldButton {
	background: #febc11; 
	color: #000000;
	padding: 5px 10px 5px; 
	border:none; 
	cursor:pointer; 
	font-size: 14px;
	letter-spacing:.1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
input#goldButton:hover {
	background: #ffdd7e;
}

input#redButton {
	width:100px;
	background: #ad1d1d; 
	color: #ffffff;
	padding: 5px 10px 5px; 
	border:none; 
	cursor:pointer; 
	font-size: 14px;
	letter-spacing:.1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

input#redButton:hover {
	background: #b93f3f;
}

input#greenButton {
	width:100px;
	background: #27ab49; 
	color: #ffffff;
	padding: 5px 10px 5px; 
	border:none; 
	cursor:pointer; 
	font-size: 14px;
	letter-spacing:.1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

input#greenButton:hover {
	background: #42b860;
}

/*=================================my cart css starts here=======================================================*/
#tableCart {
	border-collapse: collapse;
	width: 98%;
}

#tableCart td, #tableCart th {
	padding:15px 5px;
	text-align: left;
	
}

#tableCart td {
	vertical-align: top;
}

#tableCart tr:nth-child(odd){
	background-color: #F2F2F2;
}

input#redButton {
	width:100px;
	background: #ad1d1d; 
	color: #ffffff;
	padding: 5px 10px 5px; 
	border:none; 
	cursor:pointer; 
	font-size: 14px;
	letter-spacing:.1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

a.MB, a.MB:link {color: #007A95; text-decoration:none;}, 
a.MB:visited {color: #007A95; text-decoration:none;}, 
a.MB:active {color: #FEBC11; text-decoration:none;}, 
a.MB:hover {color: #FEBC11; text-decoration:none;}

#billingstate, #shippingstate{
	height:30px;
}

#updateQuantity{
	width: 35px;
	height: 20px;
	font-size: 16px;
	padding-left: 10px;
}
#billingcity,#shippingcity{
	text-transform:capitalize;
}
/*---------array error style-----------*/

#errorA{
	background-color:#efabab;
	margin-left:20%;
	padding:2%;
	margin-right:20%;
	position:block;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	
}
#errorA p:before{
content: url(images/error.png);
margin: 20px 15px 0px 0px;
width:20;
height:20;

}


/*=================================Invoice=================================*/
#invoicenumber{
width:70%;
font-weight:bold;
text-align:right;
}
#invoicenumber h6{
margin-top:6px;
font-weight:bold;
}
#invoicenumber h3{
font-weight:bold;
}
.shippingInfo{
margin-left:40%;
width:300px;
}
.billingInfo{
font-family: "Times New Roman", Times, serif;
font-size:16px;
float:left;
margin-left:1%;
width:300px;
}
.billingDetails{
background-color:#ebebeb;
width:300px;
font-family: "Times New Roman", Times, serif;
padding:6%;
}
#itemInfo{
margin-top:15%;
margin-bottom:1%;
margin-left:1%;
margin-right:20%;
width:100%;
}
#itemDetailLabel{
border-bottom:1px solid black;
margin-bottom:1%;
}
.itemDetailsContainer{
margin-left:1%;
margin-right:20%;
width:100%;
height:15%;
}

.itemDetails{
clear:both;
}
.itemDetails p{
display:inline-block;
text-align:center;
padding-top:4%;
padding-bottom:4%
}
#qty-itemInfo,#price-itemInfo,#title-itemInfo{
border-left:1px solid black;
}
.itemDetailsContainer:nth-child(odd){
background-color:#ebebeb;
}

.number-itemInfo,.qty-itemInfo{
	text-align:center;
	width:15%;
	}
.price-itemInfo{
	width:20%;

	}
.title-itemInfo{
	width:45%;
	}
#finalPrice{
width:80%;
font-family: "Times New Roman", Times, serif;
padding-top:2%;
padding-bottom:2%;
height:40%;


}
#finalPrice p{
height:2%;
padding:1%;
padding-bottom:1%;
font-family: "Times New Roman", Times, serif;
display:inline-block;
width:20%;
background-color:#ebebeb;
}
#subTotal,#shipping,#tax,#total{
	border-right:1px solid black;
	font-weight:bold;
}
#total,#totalvalue{
border-top:3px solid white;
}
