
/*=================================Invoice=================================*/
#invoicenumber{
width:70%;
font-weight:bold;
text-align:right;
}
#invoicenumber h6{
margin-top:6px;
font-weight:bold;
}
#invoicenumber h3{
font-weight:bold;
}
.shippingInfo{
margin-left:40%;
width:300px;
}
.billingInfo{
font-family: "Times New Roman", Times, serif;
font-size:16px;
float:left;
margin-left:1%;
width:300px;
}
.billingDetails{
background-color:#ebebeb;
width:300px;
font-family: "Times New Roman", Times, serif;
padding:6%;
}
#itemInfo{
margin-top:15%;
margin-bottom:1%;
margin-left:1%;
margin-right:20%;
width:100%;
}
#itemDetailLabel{
border-bottom:1px solid black;
margin-bottom:1%;
}
.itemDetailsContainer{
margin-left:1%;
margin-right:20%;
width:100%;
height:15%;
}

.itemDetails{
clear:both;
}
.itemDetails p{
display:inline-block;
text-align:center;
padding-top:4%;
padding-bottom:4%
}
#qty-itemInfo,#price-itemInfo,#title-itemInfo{
border-left:1px solid black;
}
.itemDetailsContainer:nth-child(odd){
background-color:#ebebeb;
}

.number-itemInfo,.qty-itemInfo{
	text-align:center;
	width:15%;
	}
.price-itemInfo{
	width:20%;

	}
.title-itemInfo{
	width:45%;
	}
#finalPrice{
width:80%;
font-family: "Times New Roman", Times, serif;
padding-top:2%;
padding-bottom:2%;
height:40%;


}
#finalPrice p{
height:2%;
padding:1%;
font-family: "Times New Roman", Times, serif;
display:inline-block;
width:20%;
background-color:#ebebeb;
}
#subTotal,#shipping,#tax,#total{
	border-right:1px solid black;
	font-weight:bold;
}
#total,#totalvalue{
border-top:3px solid white;
}

